* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.menu{
    width: 40vw;
    z-index: 5;
    height: 100vh;
    position: absolute;
    top:0;
    right: -200vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-left: 5vw;
    gap: 2vh;
    font-family: a;
    font-size: 4vh;
    font-weight: 490;
    align-items: start;
    
}




.social_media{
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    font-size:2vh;
    gap:5vw;
    font-weight: 100;
    align-items: start;
}







#main{
    
    z-index: 1;
    position: relative;
    min-width: 100vw;
    background-color: #1137ca;
}
@font-face {
    font-family: a;
    src: url(./jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4\ \(1\).ttf);
}
@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK\ \(1\).ttf);
}
#page1
{
    height: 100vh;
    width: 100vw;
    position: relative;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
nav{
    position: absolute;
    top:0;
    left: 0;
    background-color: transparent;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    position: absolute;
    height: 10vh;
    width: 100vw;
}
nav>img{
    margin-top: -1.7vw;
    width: 9%;
}

#right_nav{
    width: 15vw;
    
    display: flex;
    flex-direction: row;
    align-items: start;
    
    justify-content: start;
}

.menu_btn{
    position: absolute;
    top:2.5vh;
    z-index: 10;
    right: 3vw;
    padding:10px 20px;
    border-radius:50px;
    background-color: transparent;
    color:white;
    border:1px solid white;
    font-family: a;
    font-size: 15px;
   
     height: 5vh;
    
}
.menu_line{
    width: 20px;
   
    height: 0.001px;
    margin-bottom: 10px;
    border: 1px solid white;
}




#right_nav>button{
    padding:10px 20px;
    border-radius:50px;
    background-color: transparent;
    color:white;
    border:1px solid white;
    font-family: a;
    font-size: 15px;
    
}

.bottom_page1{
    position:absolute;
    bottom:5%;
    left:15%;
    height: 35vh;
    color:white;
    width: 50vw;
    left:10%;
}



.bottom_page1>h1{
    font-family: a;
    font-size: 5vw;
    line-height: 1;
    color:white;
    font-weight: 100;
}

.text_page1{
    height: 10%;
    width: 100%; 
    position: absolute;
    bottom: 0;
}

.text_page1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: a;
}

.text_page1>button{
    padding:10px 20px;
    border:none;
    border-radius: 50px;
    background-color: white;
    color:#1137ca;
    font-family: c;
    font-size: 16px;

}

.text_page1>h4{
    font-size: 1vw;
    font-weight:100 ;
    color:white;
}


#page2{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: a;
    padding:0vw 8vw;
    height: 100vh;
    width: 100vw;
    background-color: #0A3BCE;
    position: relative;
    color:white;
}

#page2>h2{
    margin-bottom: 2vw;
    font-size: 1.2vw;
   font-weight: 100;
   font-family: a;

}
#page2>h1{
    width: 90%;
    font-family: a;
    font-weight: 100;
    line-height: 1.3;
    font-size: 4vw;
    color:rgba(248, 246, 246, 0.438);
 }


 #page3
{
    height: 100vh;
    width: 100vw;
    position: relative;
   background-color: #0A3BCE;
}

#page3>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position:relative;
}

#page4{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: a;
    padding:0vw 8vw;
    height: 100vh;
    width: 100vw;
    background-color: #0A3BCE;
    position: relative;
    color:white;
}


#page4>h3{
    font-family: a;
    margin-bottom: 2vw;
    font-size: 1.2vw;
   font-weight: 100;

}
#page4>h1{
    font-family: a;
    width: 70%;
    font-family: a;
    font-weight: 100;
    line-height: 1.2;
    font-size: 3vw;
    color:rgba(248, 246, 246, 0.438);
 }

 #page5
{
    height: 100vh;
    width: 100vw;
    position: relative;
  
}

#page5>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position:relative;
}


#page6{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-size: a;
padding:0vw 8vw;
    height: 100vh;
    width: 100vw;
    background-color: #0A3BCE;
    position: relative;
    color:white;
}

#page6>h3{
    margin-bottom: 2vw;
    font-size: 1.2vw;
   font-weight: 100;

}
#page6>h1{
    width: 90%;
    font-weight: 100;
    line-height: 1.3;
    font-size: 4vw;
    color:rgba(248, 246, 246, 0.438);
 }

 #page7
 {
     height: 100vh;
     min-width: 100vw;
     position: relative;
     background-color: #0A3BCE;
 }

 #page7>canvas{
    max-height: 100vh;
    max-width: 100vw;
    position:relative;
}

.page7-cir{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vw;
    transform: translate(-50%, -50%);
    width: 30vw;
    border:1px solid white;
    position: absolute;
    top: 50%;
    z-index: 100;
    border-radius: 50%;
    left: 50%;
}

.page7-cir-inner{
    height: 70%;
    width: 70%;
    border:1px solid white;
    border:1px solid white;
    
    background-color: transparent;
    font-size: 3vw;
    font-family: a;
    font-weight: 100;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border-radius: 50%;

}

.page7-cir-inner h2{
    font-size: 1.8vw;
    font-family: a;
    font-weight: 100;
    color: rgba(206, 206, 206, 0.676);
}



#page8
 {
     height: 100vh;
     width: 100vw;
     position: relative;
     background-color: #0A3BCE;
 }

 #page8>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
 }
 .page8-bottom{
    position:absolute;
    bottom:5%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
 }

 .page8-bottom>h1{
    color:white;
    font-size: 5vw;
    font-weight: 100;
    margin-bottom: 2vw;

 }

 .page8-bottom> button{
    padding:10px 30px;
    border-radius: 50px;
    background-color: white;
    border:none;
    color: #0A3BCE;
 }

 #page9
 {

    display: flex;
    flex-direction: row;
    align-items: center;
     height: 100vh;
     width: 100vw;
     position: relative;
     background-color: #0A3BCE;
 }

 .left9{
    height: 100%;
    width: 40%;
    position: relative;
    font-family: a;
}
.left9>h1{
    position: absolute;
    top: 40%;
    right: 5%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 100;
    color: #fff;
    line-height: 1;
}
.right9{
    height: 100%;
    width: 60%;
    position: relative;
}
.right9-center{
    height: 50%;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 5%;
}

#page10
{

    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #0A3BCE;
}

.right10{
    height: 100%;
    width: 60%;
    position: relative;
    left: 42%;
    
}

.right10-inner{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    height: 33.3%;
    width: 100%;

    color:white;
    font-family: a;

}

.right10-inner>h1{
    font-size: 2vw;
}

.right10-inner>p{
    font-size: 1.3vw;
    width: 80%;
}








#page11
{  width: 100vw;
    height: 150vh;
    position: relative;
    background-color: #03268E;
    width: 100vw;
    height: 150vh;
    position: relative;
   
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    overflow: hidden;
}






.page11-left{
    
   position: relative;
    min-width: 50%;
    max-height: 100vh;
   
    padding-left:10vh ;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    
}



.infobox{
    max-width: 100%;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    padding-left:5vh ;
    align-items: center;
    justify-content: start;
    z-index: 20;
    
}
.line{
    width: 2px;
    height: 50vh;
    border: 1px solid #0940DF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#0940DF
}
.main_contain{
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left:5vh ;
    align-items: start;
    justify-content: start;
    max-width: 100%;
    min-height: 50vh;
    z-index: 20;
    
}
.main_contain img{
    display: none;
}

.main_contain h5{
   font-size: 1.4vw;
   font-family: a;
}

.main_contain h1{
    font-size: 4vw;
    font-family: a;
    line-height: 1;
    
    padding-bottom: 20px;
 }
 .main_contain h3{
    font-size: 2vw;
    font-family: a;
    
   
 }
.box1{
    
   position: absolute;
   top: 50vh;
   
   z-index: 2;
   color:#cac0c086;

}

.box1 .heading{
    color: white;
    position: absolute;
    
    top:-30vh;
    left: 2vw;
    width: max-content;
    height: max-content;
    font-size: 8vw;
    padding-bottom: 20vw;
    font-weight: 100;
    text-align: center;
    text-align: left;
    font-family: a;
}
.box2{
    position: absolute;
   top: 100vh;
   z-index: 3;
   
   color:#cac0c086;
}
.box3{
    position: absolute;
   top: 150vh;
    z-index: 4;
   
    color:#cac0c086;
}
.box4{
    position: absolute;
   top: 200vh;
   z-index: 5;
   color:#cac0c086;
}


.page11-right{
    width: 50%;
    height: 100vh;
    position:relative;
   
}

.page11-right canvas{
    width: 700px;
    height:700px;
    
    position:relative;
}

#page11copy{
    display: none;
}

#page12{
    width: 100vw;
    height: 200vh;
    position: relative;
    background-color: #ECF2FF;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.page12-heading{
    width: 100vw;
    height: max-content;
    font-size: 8vw;
      font-weight: 100;
      font-family: a;
      padding: 15vh 10vw;
}



#page12-swiper-part{
   width: 100vw;
   height: 100vh;
   position: relative;
   background-color: #ECF2FF;
   display: flex;
   align-items: center;
   flex-direction: row;
  
}




.swiper {
    width: 300%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    
    display: flex;
    min-width: 35vw;
    min-height: 90vh;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    text-align: left;
  }
  
  .swiper-slide h1{
      font-size: 2.6vw;
      font-weight: 100;
      font-family: a;
  }
  .swiper-slide h3{
    font-size: 1vw;
    font-weight: 100;
    font-family: a;

}


  .swiper-slide img {
    display: block;
    width: 35vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 30px;

  }






#page13{
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: #fff;
    font-family: a;
}
#page13>h1{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 4vw;
    color: #000;
    font-weight: 100;
}
.page13-inner{
    display: flex;
    top: 18%;
    position: relative;
    margin-bottom: 2vw;
    height: 24%;
    width: 100%;
}
.left13{
    position: relative;
    height: 100%;
    width: 40%;
    left: 5%;
    border-radius: 10px;
    overflow: hidden;
}
.left13>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.right13{
    padding-top: 5vw;
    color: #000;
    left: 50%;
    position: absolute;
    height: 100%;
    width: 50%;
}
.right13>h4{
    font-weight: 100;
}
.right13>h1{
    font-size: 2vw;
}


#page14{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #02268e;
}
.page14-inner{
    position: absolute;
    top: 20%;
    right: 10%;
    color: #fff;
    font-family: a;
}
.page14-inner>h1{
    font-size: 5vw;
    font-weight: 100;
}
.page14-inner>p{
    font-size: 1.3vw;
}

.infinite_scroll{
    width: 100vw;
    height: 10vh;
    padding: 10vh 0;
    position: absolute;
    top:60%;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}




.slider{
    white-space: nowrap;
    display: inline-block;
    animation-name: mover;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: all ease 1s;
    
}

@keyframes mover {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-130vw);
    }
}

.slider img{
    margin-left: 10vh;
    height: 5vh;
}







#page15{
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    font-family: a;
    padding: 7vw 10vw;
}
#page15>h1{
    font-size: 5vw;
    line-height: 1;
    font-weight: 100;
}
#page15>button{
    padding: 18px 30px;
    border: none;
    background-color: #0a3cce;
    color: #fff;
    border-radius: 50px;
    margin-top: 2vw;
}


#page16{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #000;
}
.page16-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    font-family: a;
    height: 33.3%;
    width: 100%;
    color: #fff;
    border-top: .5px solid #ffffff5c;
    border-bottom: .5px solid #ffffff48;
}
.page16-inner>i{
    font-weight: 100;
    font-size: 2.4vw;
    position: relative;
    z-index: 9999;
}
.page16-inner>h1{
    font-size: 3vw;
    font-weight: 100;
    position: relative;
    z-index: 9999;
}

.center16{
    height: 0%;
    width: 100%;
    background-color: #0a3cce;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .5s;
}


.page16-inner:hover .center16{
    height: 100%;
}


footer{
    background-color: #000;
    width: 100vw;
    color:white;
    height: 80vh;
    padding:10vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

}

.right-footer{
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    align-items: center;
    font-family: a;
    justify-content: space-between;
}

.left-footer{
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    font-family: a;
    align-items: center;
    justify-content: space-between;
}

.block{
    width: 50vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    
    align-items: center;
     justify-content: space-around;
}

.subblock{
    width: 25vw;
    display: flex;
    flex-direction: column;
    padding-left:15vh;
    
    align-items: start;
    text-align: left;
    justify-content: center;
}

.right-footer h3{
    padding: 2vh 15vh;
}

footer h3{
    display: none;
}
.mailing_box{
    
    width: 30vw;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.mailing_box h2{
    font-weight: 100;
}

.mailing_box input{
    width: 100%;
    background-color: #000;
     border: none;
     border-bottom: .5px solid rgba(185, 176, 176, 0.475);
     font-size: 1vw;
}


@media screen and (max-width: 700px) {
    
    #main{
        min-width: 100vw;
    }

    
    #right_nav > button{
        display: none;
    }
    
    nav{
      
        padding: 2vh 2vh;
    }


    nav>img{
        padding-bottom: 5vh;
        width: 20%;
        align-items: start;
        justify-content: flex-start;
        position: relative;
        top:1vh;
        left: 0;
    }
    .menu{
        position: absolute;
        min-width: 100vw;
        right: -200vw;
    }

    .menu_btn{
        right: 6vw;
        padding:8px 15px;
        width: 7vh;
        height:4vh;
    }

    .menu_btn> .menu_line{
        width:15px;
        margin-bottom: 5px;
    }

    .bottom_page1{
        position:absolute;
        bottom:40%;
        left:5%;
        height: 35vh;
        color:white;
        width: 90vw;
      
    }

    .text_page1{
       
        flex-direction: column;
        align-items: start;
        text-align: start;
    }

    .bottom_page1>h1{
      
        font-size: 15vw;
        padding-bottom: 2vh;
    }

    .text_page1 h4{
       
        margin-top: 5vh;
        font-size: 5vw;
        padding-bottom: 5vh;
        color:rgba(227, 221, 221, 0.877);
    }

    #page2{
        justify-content: start;
     
        padding-top: 15vh;
    }
    
    #page2>h2{
        font-size:4vw;
    }
    #page2>h1{
        font-size: 8vw;
        line-height: 1;
    }

    #page2{
        justify-content: start;
        height: max-content;
        padding-top: 15vh;
    }
    
    #page4>h3{
        font-size:4vw;
    }
    #page4>h1{
        font-size: 8vw;
        line-height: 1;
    }

    #page6>h3{
        font-size:4vw;
    }
    #page6>h1{
        font-size: 8vw;
        line-height: 1;
    }

    #page9
 {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
     height: 80vh;
     width: 100vw;
     position: relative;
     background-color: #0A3BCE;
 }
 .left9 h1{
     font-size: 10vh;
     width: 70vw;
     left: 2vh;
    transform: translateY(0%);
     
 }
 .right9{
    height:  30vh;
    width: 60%;
 }

 .right9-center{
    height:  30vh;
    top: 60%;
    width: 90vw;
    left: 5vw;
 }

 #page10{
    min-height: 120vh;
 }

 .right10{
    padding: 10vh 0;
    left: 5%;
    height: 150svh;
    
}

.right10-inner{
    width: 95%;
    align-items: start;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
    padding-bottom: 10vh;
;

}
.right10{
    height: 100vh;
    width: 100%;
    position: relative;
  
    
}

.right10-inner>h1{
    font-size: 5vw;
}

.right10-inner>p{
    font-size: 4vw;
    width: 80%;
}

.page11-right{
    display: none;
}

#page11{
    min-height: 200vh;
    display: none;
    overflow: scroll;
}


.page11-left{
    z-index: inherit;
    
    padding-left:2vh ;
    min-width: 100vw;
    min-height:300vh;
}
.infobox{
    max-width: 100vw;
    max-height: 20vh;
    display: flex;
    flex-direction:row;
    padding-left:2vh ;
    align-items: center;
    justify-content: start;
    z-index: 1;
    color:white;
    
}
.main-contain img{
   display: block;

}

.swiper-slide{
    min-width: 50vw;
    height: 30vh;
    
    position: relative;
}

.swiper-slide img{
    width: 100%;
    height: 40%;
}

.swiper-slide h1{
    font-size: 6vw;
  
}
.swiper-slide h3{
  font-size: 3vw;
  

}

#page14-inner{
    right: 20%
}

.page14-inner>h1{
    font-size: 8vw;
    font-weight: 100;
}

.page14-inner>p{
    font-size: 3vw;
}

footer{
    flex-direction: column;
    align-items: start;
}

 
.right-footer .block2{
    display: none;
}

.block{
    align-items: baseline;
}

.right-footer h3{
    display: none;
}

.left-footer{
    margin-left: 12vh;
}

.mailing_box{
    width: 60vw;
    height: 80%;
}

.mailing_box input{
    
     font-size: 3vw;
}

footer h3{
    display: block;
    margin-top: 10vh;
    padding-left: 10vh;
}
 

}
